{% extends "shared/base.html" %}
{% block title %}Categoria{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="top-table">
        <a class="btn btn-success" href="{{url_for('categoria.register')}}"><i class="material-icons"
            style="vertical-align: -6px;">&#xE147;</i> <span>Adicionar</span></a>
    </div>
    <table style="text-align: center;" class="table justify-content-center align-items-center">
        <thead>
            <tr>
                <th>Código<th>
                <th>Descrição</th>
                <th>Setor</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.codigo }}</td>
                <td>{{ categoria.descricao }}</td>
                <td>{{ categoria.setor }}</td>
                <td>
                    <a id="edit-categoria-{{categoria.codigo}}" class="edit" href="{{url_for('categoria.update', id=categoria.codigo)}}" data-toggle="modal" ><i class="material-icons" style="color: yellow;" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                    <a id="delete-categoria-{{categoria.codigo}}" class="delete" href="{{ url_for('categoria.delete', id=categoria['codigo'])}}" data-toggle="modal">
                        <i class="material-icons" style="color: red" data-toggle="tooltip" title="Delete">&#xE872;</i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}