.homepage{
    height: 100%;
    background: linear-gradient(#e9a744 0%, #793bec);
}

.sub-text{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.h{
    font-size: 2em;
    font-weight: bold;
}

.buttons-options{
    margin-left: 1em;
}
