<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <script src="{{ url_for('static', filename='js/shared/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shared/jquery.mask.min.js') }}"></script>    
    <script src="{{ url_for('static', filename='js/shared/toastr.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared/toastr.min.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/message-handle.js') }}"></script>
    <title>{% block title %}{% endblock %} - Beth Store</title>
    {% endblock %}
    <div id="base-topnav" class="topnav">
        <a href="{{ url_for('homepage.index') }}">Home</a>
        <a href="{{ url_for('produto.index') }}">Produtos</a>
        <a href="{{ url_for('categoria.index') }}">Categorias</a>
    </div>
</head>
<body>
    {% if result is defined %}
        <script>
            $(document).ready(function(){
                handle_message(JSON.parse('{{ result | tojson | safe}}'))    
            });
        </script>
    {% endif %}
    <div id="content" class="center" >{% block content %}{% endblock %}</div>
</body>
</html>

